/* Reset CSS para asegurar que todos los navegadores tengan un estilo base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

#header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 24px;
}

#filters, #statistics, #kobo-form {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#filters label, #filters select, #filters button {
    margin-right: 10px;
}

#map-section {
    position: relative;
}

#map {
    width: 100%;
    height: 60vh; /* Tamaño del mapa */
    border-radius: 8px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#legend {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1000;
}

#legend div {
    margin-bottom: 5px;
}

#open-kobo-form {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#open-kobo-form:hover {
    background-color: #45a049;
}

#statistics {
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}
